@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import "util/variables";
@import "util/placeholders";

body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient($soft-violet, $soft-blue);
  min-height: 100vh;
  width: 100%;
}

.card-container {
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: 39px;
}

#illustration-box {
  display: none;
}

#illustration-main-desktop {
  display: none;
}

#illustration-bg-desktop {
  display: none;
}

.illustration-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  #illustration-main-mobile {
    position: relative;
    z-index: 2;
  }

  #illustration-bg-mobile {
    position: relative;
    z-index: 1;
    top: -70px;
  }
}

.card {
  position: relative;
  top: -178px;
  padding-top: 100px;
  background-color: white;
  width: 331.35px;
  max-width: 90%;
  border-radius: 20px;
  box-shadow: 0 20px 60px -20px $dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    @extend %Kumbh-700;
    font-size: 30px;
    margin-top: 31px;
    margin-bottom: 16px;
    color: $dark-blue;
  }

  #faq-questions {
    width: 85%;

    @extend %Kumbh-400;
    margin: 0;
    padding: 0;
    padding-bottom: 45px;

    details {
      border-bottom: 1px solid $light-gray-blue;
      padding-bottom: 5px;
      margin-top: 16px;

      summary {
        font-size: 14px;
        font-weight: inherit;
        color: $gray-blue;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        list-style: none;
        cursor: pointer;

        &::-webkit-details-marker {
          display: none;
        }

        &::after {
          content: url(./images/icon-arrow-down.svg);
          display: block;
        }

        &:hover {
          color: $soft-red;
        }

        & > * {
          display: inline;
        }

      }

      &[open] {
        font-size: 12px;
        color: $gray-blue;
        padding-bottom: 15px;
      }
    }
  }
}

.active {
  font-weight: 700 !important;
  color: $dark-gray-blue !important;

  &::after {
    transform: rotate(180deg);
  }
}

.attribution {
  @extend %Kumbh-400;
  text-align: center;
  font-size: 12px;
  color: white;
  position: relative;
  top: -150px;

  a {
    font-weight: 700;
    color: white;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 360px) {
  #faq-questions {
    width: 90% !important;

    details {

      summary {
        font-size: 13px !important;
      }
    }
  }

  .attribution {
    font-size: 11px;
  }
}


@media screen and (min-width: 1020px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    width: 1105px;
    height: 600px;
    position: relative;
    left: 8px;
    top: 6px;
  }

  #illustration-box {
    display: block;
    position: absolute;
    top: 246px;
    z-index: 3;
    animation-name: float;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  @keyframes float {
    50%  {transform: translateY(-6px);}
    100% {transform: translateY(0px);}
  }

  .card-container {
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    background-color: white;
    border-radius: 20px;
    width: 920px;
    height: 510px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 20px 60px -20px $dark-blue;

  }

  .illustration-container {
    height: inherit;
    width: 800px;
    overflow: hidden;

    #illustration-main-desktop {
      display: block;
      position: relative;
      left: -58px;
      top: 71px;
      z-index: 2;
    }

    #illustration-bg-desktop {
      display: inline-block;
      position: relative;
      z-index: 1;
      bottom: 655px;
      left: -304px;
    }

    #illustration-main-mobile {
      display: none;
    }

    #illustration-bg-mobile {
      display: none;
    }
  }

  .card {
    position: static;
    padding-top: 0;
    background-color: none;
    box-shadow: none;
    align-items: flex-start;
    height: inherit;
    width: inherit;
    max-width: none;


    h1 {
      width: 65%;
      margin-top: 62px;
      margin-bottom: 20px;
      padding-left: 48px;
      font-size: 32px;
    }

    #faq-questions {
      width: 68%;
      padding-left: 48px;
    }
  }

  .attribution {
    position: static;
  }
}

@media (prefers-reduced-motion) {
  #illustration-box {
    animation-duration: 0.0001s;
    animation-iteration-count: 1;
  }
}
