@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
.attribution, .card #faq-questions {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

.card h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(#af67e9, #6565e7);
  position: relative;
  top: 0px;
  min-height: 100vh;
}

.card-container {
  width: 94%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 39px;
}

#illustration-box {
  display: none;
}

#illustration-main-desktop {
  display: none;
}

#illustration-bg-desktop {
  display: none;
}

.illustration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.illustration-container #illustration-main-mobile {
  position: relative;
  z-index: 2;
}
.illustration-container #illustration-bg-mobile {
  position: relative;
  z-index: 1;
  top: -70px;
}

.card {
  position: relative;
  top: -178px;
  padding-top: 100px;
  background-color: white;
  width: inherit;
  border-radius: 20px;
  box-shadow: 0 20px 60px -20px #1d1e35;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card h1 {
  font-size: 30px;
  margin-top: 31px;
  margin-bottom: 16px;
  color: #1d1e35;
}
.card #faq-questions {
  width: 85%;
  min-width: 254px;
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
}
.card #faq-questions details {
  border-bottom: 1px solid #e7e7e9;
  padding-bottom: 5px;
  margin-top: 16px;
}
.card #faq-questions details summary {
  font-size: 14px;
  font-weight: inherit;
  color: #787887;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  list-style: none;
}
.card #faq-questions details summary::-webkit-details-marker {
  display: none;
}
.card #faq-questions details summary::after {
  content: url(./images/icon-arrow-down.svg);
  display: inline-block;
}
.card #faq-questions details summary:hover {
  color: #f47c57;
}
.card #faq-questions details[open] {
  font-size: 12px;
  color: #787887;
  padding-bottom: 15px;
}

.active {
  font-weight: 700 !important;
  color: #4a4b5e !important;
}
.active::after {
  transform: rotate(180deg);
}

.attribution {
  text-align: center;
  font-size: 12px;
  color: white;
  position: relative;
  top: -150px;
}
.attribution a {
  font-weight: 700;
  color: white;
}

/* MEDIA QUERIES */
@media screen and (max-width: 360px) {
  #faq-questions {
    width: 90% !important;
  }
  #faq-questions details summary {
    font-size: 13px !important;
  }

  .attribution {
    font-size: 11px;
  }
}
@media screen and (min-width: 375px) {
  .card-container {
    width: 331.35px;
  }
}
@media screen and (min-width: 1020px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    width: 1105px;
    height: 600px;
    position: relative;
    left: 8px;
    top: 6px;
  }

  #illustration-box {
    display: block;
    position: absolute;
    top: 246px;
    z-index: 3;
    animation-name: float;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  @keyframes float {
    50% {
      transform: translateY(-6px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .card-container {
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    background-color: white;
    border-radius: 20px;
    width: 920px;
    height: 510px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 20px 60px -20px #1d1e35;
  }

  .illustration-container {
    height: inherit;
    width: 800px;
    overflow: hidden;
  }
  .illustration-container #illustration-main-desktop {
    display: block;
    position: relative;
    left: -58px;
    top: 71px;
    z-index: 2;
  }
  .illustration-container #illustration-bg-desktop {
    display: inline-block;
    position: relative;
    z-index: 1;
    bottom: 655px;
    left: -304px;
  }
  .illustration-container #illustration-main-mobile {
    display: none;
  }
  .illustration-container #illustration-bg-mobile {
    display: none;
  }

  .card {
    position: static;
    padding-top: 0;
    background-color: none;
    box-shadow: none;
    align-items: flex-start;
    height: inherit;
  }
  .card h1 {
    width: 65%;
    margin-top: 62px;
    margin-bottom: 20px;
    padding-left: 48px;
    font-size: 32px;
  }
  .card #faq-questions {
    width: 68%;
    padding-left: 48px;
  }

  .attribution {
    position: static;
  }
}
@media (prefers-reduced-motion) {
  #illustration-box {
    animation-duration: 0.0001s;
    animation-iteration-count: 1;
  }
}

/*# sourceMappingURL=main.css.map */
